@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.TextArea("aa")
        @Html.TextBox("aa")
        @Html.CheckBox("aa")
        @Html.Hidden("aa")
        @Html.Password("aa")
    </div>
</body>
</html>
